/* ESTILOS DE LOS INPUT */

.wordleForm {
  width: 360px;
  margin: 0 auto;  
}

.word-input {
  color: white;
  width: 100%;
  font-size: 2rem;
  border: 0;
  border-bottom: 1px solid white;
  background-color: transparent;
}